<!DOCTYPE html>
<html>

<head>
    <title>SnakeAI</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="/js/app.js-{{script_id}}"></script>
    <link rel="stylesheet" href="/css/app.css-{{style_id}}">
</head>

<body>
    <div id="header">
        <h1>🐍 🐍 🐍 Snake AI 🐍 🐍 🐍</h1>
    </div>
    <div id="containter">
        <div id="board"></div>
        <div id="panel">
            <!-- <div>🍎 <span id="score">0</span></div> -->
        </div>
    </div>
    
</body>

</html>